<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物流管理系统</title>
    <link href="/static/css/bootstrap-classic.css?version=0.1" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
</head>
<body>

<!--login and register-->
 <div class="container">
        <h1>{% block title %}{% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}{% endblock %}
    </div>

{% block nav %}
{% endblock %}

{% block contents %}
{% endblock %}
</body>
</html>