{% extends 'base.html' %}
{% block nav %}

<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse"
               data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{% url 'index' %}"><span>物流管理系统</span></a>


            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i><span class="hidden-phone">{{request.user}}</span>
                    <span class="caret"></span>
                </a>
                <a href="{% url 'logout' %}">登出</a>
            </div>
            <!-- user dropdown ends -->
        </div>
    </div>
</div>
{% endblock %}

{% block contents %}
<div class="container-fluid">
    <div class="row-fluid">
        {% block siderbar %}
        <div class="span2">
            <div class="well nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li class="nav-header hidden-tablet">物流管理</li>
                    <li><a class="ajax-link" href="{% url 'parcel'%}"><i class="icon-home"></i><span class="">寄件</span></a>
                    </li>
                    <li><a class="ajax-link" href="{% url 'search'%}"><i class="icon-home"></i><span
                            class="">寄件信息查询</span></a></li>



                    <li class="nav-header ">账号相关</li>

                    {% if request.user.is_admin %}
                    <li><a class="ajax-link" href="{% url 'upload' %}"><i class="icon-home"></i><span
                            class="">批量导入</span></a></li>
                    <li><a class="ajax-link" href="{% url 'settle' %}"><i class="icon-home"></i><span
                            class="">结算信息</span></a></li>
                    {% endif %}
                    <li><a class="ajax-link" href="{% url 'complete' %}"><i class="icon-eye-open"></i><span
                            class="">个人中心</span></a></li>

                    <li><a href="{% url 'logout'%}"><i class="icon-lock"></i><span class=""> 登出</span></a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        {% endblock %}

        {% block right_content %}
        {% endblock %}
    </div><!--/#content.span10-->
</div><!--/fluid-row-->
{% endblock %}

