{% extends 'base.html' %}

{% block contents %}
    <div class="clearfix">
        <div class="page-content">
            <form role="form" method="post">
                <div class="mgb6">
                    <h4><span class="label label-primary arrowed-in-right label-lg float mgr6"><b>寄件人地址</b></span></h4>
                    <div class="switch-check"><label class="switch-bg"><input type="checkbox" class="not-empty"
                                                                              name="switch"><span></span></label></div>
                    <a class="mgr4" href="javascript:void(0);" id="deliver_model">[选择历史寄件人]</a>

                </div>
                <div class="panel panel-default panelBody">
                    <div class="panel-body ">
                        <div class="mgb6 pos-relative">
                        <span>
                        {{ form.deliver_name.error }}
                        <label for="{{ form.deliver_name.id_for_label }}">
                            {{ form.deliver_name.label }}:* </label>
                        {{ form.deliver_name }}
                        </span>
                        </div>
                        <div class="mgb6 pos-relative">
                        <span>
                    {{ form.deliver_phone.error }}
                    <label for="{{ form.deliver_phone.id_for_label }}">
                        {{ form.deliver_phone.label }}:* </label>
                    {{ form.deliver_phone }}
</span>
                        </div>
                        {#                        <div class="mgb6 pos-relative">#}
                        {#                        <span>#}
                        {#                    {{ form.deliver_area.error }}#}
                        {#                    <label for="{{ form.deliver_area.id_for_label }}">#}
                        {#                        {{ form.deliver_area.label }}:* </label>#}
                        {#                    {{ form.deliver_area }}#}
                        {#</span>#}
                        {#                        </div>#}
                        <div class="form-inline form-group">
                            <div id="distpicker">
                                {{ form.receiver_area.error }}
                                <label for="{{ form.receiver_area.id_for_label }}">
                                    {{ form.receiver_area.label }}:* </label>
                                <div class="form-group">
                                    <div style="position: relative;">
                                        {{ form.deliver_area }}
                                        {#                                        <input id="id_deliver_area" readonly name="deliver_area" class="form-control"#}
                                        {#                                               type="text"#}
                                        {#                                               name="deliver_area"#}
                                        {#                                               data-toggle="city-picker">#}
                                    </div>
                                </div>
                                {#                                <div class="form-group">#}
                                <button class="btn btn-sm btn-warning" id="deliver_reset" type="button">重置</button>
                                <button class="btn btn-sm btn-danger" id="deliver_destroy" type="button">确定</button>
                                {#                                </div>#}
                            </div>
                        </div>
                        <div class="mgb6 pos-relative">
                        <span>
                    {{ form.deliver_address.error }}
                    <label for="{{ form.deliver_address.id_for_label }}">
                        {{ form.deliver_address.label }}:* </label>
                    {{ form.deliver_address }}
</span>
                        </div>
                        <div class="mgb6 pos-relative">
                        <span>
                    {{ form.deliver_department.error }}
                    <label for="{{ form.deliver_department.id_for_label }}">
                        {{ form.deliver_department.label }}:* </label>
                    {{ form.deliver_department }}
</span>
                        </div>
                        <div class="mgb6 pos-relative">
                        <span>
                    {{ form.deliver_employee_id.error }}
                    <label for="{{ form.deliver_employee_id.id_for_label }}">
                        {{ form.deliver_employee_id.label }}:* </label>
                    {{ form.deliver_employee_id }}
</span>
                        </div>
                        <div class="mgb6 pos-relative">
                        <span>
                    {{ form.deliver_is_getmsg.error }}
                    <label for="{{ form.deliver_is_getmsg.id_for_label }}">
                        {{ form.deliver_is_getmsg.label }}:* </label>
                    {{ form.deliver_is_getmsg }}
</span>
                        </div>

                    </div>
                </div>

                <div class="mgb6">
                    <h4><span class="label label-success arrowed-in-right label-lg float mgr6"><b>收件人地址</b></span></h4>
                    <div class="switch-check"><label class="switch-bg"><input type="checkbox" class="not-empty"
                                                                              name="switch"><span></span></label></div>
                    <a class="mgr4" href="javascript:void(0);" id="receiver_model">[选择历史收件人]</a>
                </div>
                <div class="panel panel-default panelBody">
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form.receiver_name.error }}
                            <label for="{{ form.receiver_name.id_for_label }}">
                                {{ form.receiver_name.label }}:* </label>
                            {{ form.receiver_name }}
                        </div>
                        <div class="form-group">
                            {{ form.receiver_phone.error }}
                            <label for="{{ form.receiver_phone.id_for_label }}">
                                {{ form.receiver_phone.label }}:* </label>
                            {{ form.receiver_phone }}

                        </div>
                        {#                        <div class="form-group">#}
                        {#                            {{ form.receiver_area.error }}#}
                        {#                            <label for="{{ form.receiver_area.id_for_label }}">#}
                        {#                                {{ form.receiver_area.label }}:* </label>#}
                        {#                            {{ form.receiver_area }}#}
                        {#                        </div>#}

                        <div class="form-inline form-group">
                            <div id="distpicker">
                                {{ form.receiver_area.error }}
                                <label for="{{ form.receiver_area.id_for_label }}">
                                    {{ form.receiver_area.label }}:* </label>
                                <div class="form-group">
                                    <div style="position: relative;">
                                        {#                                        <input id="id_receiver_area" class="form-control" readonly type="text"#}
                                        {#                                               name="receiver_area"#}
                                        {#                                               data-toggle="city-picker">#}
                                        {{ form.receiver_area }}
                                    </div>
                                </div>
                                {#                                <div class="form-group">#}
                                <button class="btn btn-sm btn-warning" id="receiver_reset" type="button">重置</button>
                                <button class="btn btn-sm btn-danger" id="receiver_destroy" type="button">确定</button>
                                {#                                </div>#}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.receiver_address.error }}
                            <label for="{{ form.receiver_address.id_for_label }}">
                                {{ form.receiver_address.label }}:* </label>
                            {{ form.receiver_address }}
                        </div>
                        <div class="form-group">
                            {{ form.receiver_is_getmsg.error }}
                            <label for="{{ form.receiver_is_getmsg.id_for_label }}">
                                {{ form.receiver_is_getmsg.label }}:* </label>
                            {{ form.receiver_is_getmsg }}
                        </div>

                    </div>
                </div>

                <div class="mgb6">
                    <h4><span class="label label-default arrowed-in-right label-lg float mgr6"><b>其它信息</b></span></h4>
                    <div class="switch-check"><label class="switch-bg"><span></span></label></div>
                    <a class="mgr4" href="javascript:void(0);"></a>
                </div>
                <div class="panel panel-default panelBody">
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form.pname.error }}
                            <label for="{{ form.pname.id_for_label }}">
                                {{ form.pname.label }}:* </label>
                            {{ form.pname }}
                        </div>
                        <div class="form-group">
                            {{ form.pinfo.error }}
                            <label for="{{ form.pinfo.id_for_label }}">
                                {{ form.pinfo.label }}:* </label>
                            {{ form.pinfo }}
                        </div>
                        <div class="form-group">
                            {{ form.pweight.error }}
                            <label for="{{ form.pweight.id_for_label }}">
                                {{ form.pweight.label }}:* </label>
                            {{ form.pweight }}
                        </div>
                        <div class="form-group">
                            {{ form.ppayment.error }}
                            <label for="{{ form.ppayment.id_for_label }}">
                                {{ form.ppayment.label }}:* </label>
                            {{ form.ppayment }}
                        </div>
                        <div class="form-group">
                            {{ form.psupport.error }}
                            <label for="{{ form.psupport.id_for_label }}">
                                {{ form.psupport.label }}:* </label>
                            {{ form.psupport }} <label style="color: red">价值超过1000元以上建议投保.贵重物品丢失或损坏未保价无法按照实际价值理赔</label>
                        </div>
                        <div class="form-group" id="psupport_div">
                            {{ form.psupport_value.error }}
                            <label for="{{ form.psupport_value.id_for_label }}">
                                {{ form.psupport_value.label }}:* </label>
                            {{ form.psupport_value }}
                        </div>
                        <div class="form-group">
                            {{ form.remark.error }}
                            <label for="{{ form.remark.id_for_label }}">
                                {{ form.remark.label }}:* </label>
                            {{ form.remark }}
                        </div>

                    </div>
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>

    </div>

    <div class="modal fade" id="deliver_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        选择寄件人
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table hover" cellspacing="0" width="100%" id="deliver_table">
                        <thead>
                        <tr>
                            <th><span>姓名</span></th>
                            <th><span>电话</span></th>
                            <th><span>地区</span></th>
                            <th><span>地址</span></th>
                            <th><span>所属部门</span></th>
                            <th><span>员工工号</span></th>
                            {#                            <th><span>操作</span></th>#}
                        </tr>
                        </thead>
                        <tbody role="alert">
                        {% for parcel in pdelivers %}
                            <tr/>
                            <td class=""> {{ parcel.username }}</td>
                            <td class=""> {{ parcel.phone }}</td>
                            <td class=""> {{ parcel.area }}</td>
                            <td class=""> {{ parcel.address }}</td>
                            <td class=""> {{ parcel.department }}</td>
                            <td class=""> {{ parcel.employee_id }}</td>
                            {#                            <td class="">#}
                            {#                                <div><a class="deliver_chose" style="color:#69aa46;margin:0 3px;cursor:pointer;">编辑</a></div>#}
                            {#                            </td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="deliver_button" data-dismiss="modal">
                        选择
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="receiver_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        选择收件人
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table hover" cellspacing="0" width="100%" id="receiver_table">
                        <thead>
                        <tr>
                            <th><span>姓名</span></th>
                            <th><span>电话</span></th>
                            <th><span>地区</span></th>
                            <th><span>地址</span></th>
                        </tr>
                        </thead>
                        <tbody role="alert">
                        {% for parcel in preceivers %}
                            <tr/>
                            <td class=""> {{ parcel.username }}</td>
                            <td class=""> {{ parcel.phone }}</td>
                            <td class=""> {{ parcel.area }}</td>
                            <td class=""> {{ parcel.address }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="receiver_button" data-dismiss="modal">
                        选择
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <div class="clear"></div>


{% endblock %}

{% block extra_script %}
    <script>
        $(document).ready(function () {
            $('#psupport_div').hide();
            $('#id_psupport').click(function () {

                if ($('#id_psupport').is(':checked')) {
                    $('#psupport_div').show();

                } else {
                    $('#psupport_div').hide();

                }

            });
            {#            deliver model#}
            $("#deliver_model").click(function () {
                $('#deliver_Modal').modal({
                    keyboard: true
                })
            });

            {#            $(".deliver_chose").click(function () {#}
            {#                var $row = $(this).closest("tr");         // Retrieves the text within <td>#}
            {#                $tds = $row.find("td:nth-child(1)");#}
            {#                var name = $row.find("td:nth-child(0)").text();#}
            {#                var phone = $row.find("td:nth-child(1)").text();#}
            {#                var area = $row.find("td:nth-child(2)").text();#}
            {#                var address = $row.find("td:nth-child(3)").text();#}
            {#                alert($tds.text());#}
            {#                $("#resultas").append($item);       // Outputs the answer#}
            {#            });#}


            {#        });#}
            {#        $(document).ready(function () {#}
            var table = $('#deliver_table').DataTable();
            {#            var name = $row.find("td:nth-child(0)").text();#}
            {#            var phone = $row.find("td:nth-child(1)").text();#}
            {#            var area = $row.find("td:nth-child(2)").text();#}
            var name = null;
            var phone = null;
            var area = null;
            var address = null;
            $('#deliver_table').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    name = null;
                    phone = null;
                    area = null;
                    address = null;
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    name = $(this).find("td:nth-child(1)").text();
                    phone = $(this).find("td:nth-child(2)").text();
                    area = $(this).find("td:nth-child(3)").text();
                    address = $(this).find("td:nth-child(4)").text();
                    department = $(this).find("td:nth-child(5)").text();
                    employee_id = $(this).find("td:nth-child(6)").text();


                }
            });

            $('#deliver_button').click(function () {
                if (area != null) {
                    $('#id_deliver_name').val(name);
                    $('#id_deliver_phone').val(phone);
                    $('#id_deliver_area').citypicker('destroy')
                    $('#id_deliver_area').val(area)
                    $('#id_deliver_address').val(address);
                    if (department != " None") {
                        $('#id_deliver_department').val(department);
                        $('#id_deliver_employee_id').val(employee_id);
                    }
                }
            })

            {#            receiver model#}
            $("#receiver_model").click(function () {
                $('#receiver_Modal').modal({
                    keyboard: true
                })
            });


            var table = $('#receiver_table').DataTable();
            var rname = null;
            var rphone = null;
            var rarea = null;
            var raddress = null;
            $('#receiver_table').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    rname = null;
                    rphone = null;
                    rarea = null;
                    raddress = null;
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    rname = $(this).find("td:nth-child(1)").text();
                    rphone = $(this).find("td:nth-child(2)").text();
                    rarea = $(this).find("td:nth-child(3)").text();
                    raddress = $(this).find("td:nth-child(4)").text();
                    {#                    console.log(rname)#}
                    {#                    department = $(this).find("td:nth-child(5)").text();#}
                    {#                    employee_id = $(this).find("td:nth-child(6)").text();#}


                }
            });

            $('#receiver_button').click(function () {
                if (rarea != null) {
                    $('#id_receiver_name').val(rname);
                    $('#id_receiver_phone').val(rphone);
                    $('#id_receiver_area').citypicker('destroy')
                    $('#id_receiver_area').val(rarea)
                    $('#id_receiver_address').val(raddress);
                }
            })


            {#             city picker#}
            $('#deliver_reset').click(function () {
                $('#id_deliver_area').citypicker('destroy')
                $('#id_deliver_area').val('');
                $('#id_deliver_area').citypicker();

            })

            $('#receiver_reset').click(function () {
                $('#id_receiver_area').citypicker('destroy')
                $('#id_receiver_area').val('');
                $('#id_receiver_area').citypicker()
            })

            $('#deliver_destory').click(function () {
                $('#id_deliver_area').citypicker('destroy')
            })

            $('#receiver_destory').click(function () {
                $('#id_receiver_area').citypicker('destroy')
            })

        });
    </script>
{% endblock %}