{% extends 'base.html' %}

{% block contents %}
<div class="clearfix">
    <div class="page-content">
        <form role="form" method="post">
            <div class="mgb6">
                <h4><span class="label label-primary arrowed-in-right label-lg float mgr6"><b>寄件人地址</b></span></h4>
                <div class="switch-check"><label class="switch-bg"><input type="checkbox" class="not-empty" name="switch"><span></span></label></div>
                <a class="mgr4" href="javascript:void(0);">[选择历史寄件人]</a>
            </div>
            <div class="panel panel-default panelBody">
                <div class="panel-body ">
                    <div class="mgb6 pos-relative">
                        <span>
                        {{form.deliver_name.error}}
                        <label for="{{ form.deliver_name.id_for_label }}">
                            {{form.deliver_name.label}}:* </label>
                        {{form.deliver_name}}
                        </span>
                    </div>
                    <div class="mgb6 pos-relative">
                        <span>
                    {{form.deliver_phone.error}}
                    <label for="{{ form.deliver_phone.id_for_label }}">
                        {{form.deliver_phone.label}}:* </label>
                    {{form.deliver_phone}}
</span>
                    </div>
                    <div class="mgb6 pos-relative">
                        <span>
                    {{form.deliver_area.error}}
                    <label for="{{ form.deliver_area.id_for_label }}">
                        {{form.deliver_area.label}}:* </label>
                    {{form.deliver_area}}
</span>
                    </div>
                    <div class="mgb6 pos-relative">
                        <span>
                    {{form.deliver_address.error}}
                    <label for="{{ form.deliver_address.id_for_label }}">
                        {{form.deliver_address.label}}:* </label>
                    {{form.deliver_address}}
</span>
                    </div>
                    <div class="mgb6 pos-relative">
                        <span>
                    {{form.deliver_department.error}}
                    <label for="{{ form.deliver_department.id_for_label }}">
                        {{form.deliver_department.label}}:* </label>
                    {{form.deliver_department}}
</span>
                    </div>
                    <div class="mgb6 pos-relative">
                        <span>
                    {{form.deliver_employee_id.error}}
                    <label for="{{ form.deliver_employee_id.id_for_label }}">
                        {{form.deliver_employee_id.label}}:* </label>
                    {{form.deliver_employee_id}}
</span>
                    </div>
                    <div class="mgb6 pos-relative">
                        <span>
                    {{form.deliver_is_getmsg.error}}
                    <label for="{{ form.deliver_is_getmsg.id_for_label }}">
                        {{form.deliver_is_getmsg.label}}:* </label>
                    {{form.deliver_is_getmsg}}
</span>
                    </div>

                </div>
            </div>

            <div class="mgb6">
                <h4><span class="label label-success arrowed-in-right label-lg float mgr6"><b>收件人地址</b></span></h4>
                <div class="switch-check"><label class="switch-bg"><input type="checkbox" class="not-empty" name="switch"><span></span></label></div>
                <a class="mgr4" href="javascript:void(0);">[选择历史收件人]</a>
            </div>
            <div class="panel panel-default panelBody">
                <div class="panel-body">
                    <div class="form-group">
                        {{form.receiver_name.error}}
                        <label for="{{ form.receiver_name.id_for_label }}">
                            {{form.receiver_name.label}}:* </label>
                        {{form.receiver_name}}
                    </div>
                    <div class="form-group">
                        {{form.receiver_phone.error}}
                        <label for="{{ form.receiver_phone.id_for_label }}">
                            {{form.receiver_phone.label}}:* </label>
                        {{form.receiver_phone}}
                    </div>
                    <div class="form-group">
                        {{form.receiver_area.error}}
                        <label for="{{ form.receiver_area.id_for_label }}">
                            {{form.receiver_area.label}}:* </label>
                        {{form.receiver_area}}
                    </div>
                    <div class="form-group">
                        {{form.receiver_address.error}}
                        <label for="{{ form.receiver_address.id_for_label }}">
                            {{form.receiver_address.label}}:* </label>
                        {{form.receiver_address}}
                    </div>
                    <div class="form-group">
                        {{form.receiver_is_getmsg.error}}
                        <label for="{{ form.receiver_is_getmsg.id_for_label }}">
                            {{form.receiver_is_getmsg.label}}:* </label>
                        {{form.receiver_is_getmsg}}
                    </div>

                </div>
            </div>

            <div class="mgb6">
                <h4><span class="label label-default arrowed-in-right label-lg float mgr6"><b>其它信息</b></span></h4>
                <div class="switch-check"><label class="switch-bg"><span></span></label></div>
                <a class="mgr4" href="javascript:void(0);"></a>
            </div>
            <div class="panel panel-default panelBody">
                <div class="panel-body">
                    <div class="form-group">
                        {{form.pname.error}}
                        <label for="{{ form.pname.id_for_label }}">
                            {{form.pname.label}}:* </label>
                        {{form.pname}}
                    </div>
                    <div class="form-group">
                        {{form.pinfo.error}}
                        <label for="{{ form.pinfo.id_for_label }}">
                            {{form.pinfo.label}}:* </label>
                        {{form.pinfo}}
                    </div>
                    <div class="form-group">
                        {{form.pweight.error}}
                        <label for="{{ form.pweight.id_for_label }}">
                            {{form.pweight.label}}:* </label>
                        {{form.pweight}}
                    </div>
                    <div class="form-group">
                        {{form.ppayment.error}}
                        <label for="{{ form.ppayment.id_for_label }}">
                            {{form.ppayment.label}}:* </label>
                        {{form.ppayment}}
                    </div>
                    <div class="form-group">
                        {{form.psupport.error}}
                        <label for="{{ form.psupport.id_for_label }}">
                            {{form.psupport.label}}:* </label>
                        {{form.psupport}}
                    </div>
                    <div class="form-group">
                        {{form.psupport_value.error}}
                        <label for="{{ form.psupport_value.id_for_label }}">
                            {{form.psupport_value.label}}:* </label>
                        {{form.psupport_value}}
                    </div>
                    <div class="form-group">
                        {{form.remark.error}}
                        <label for="{{ form.remark.id_for_label }}">
                            {{form.remark.label}}:* </label>
                        {{form.remark}}
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-default">提交</button>
        </form>
    </div>

</div>


<div class="clear"></div>


{% endblock %}